{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block content %}
<div class="row">
	<div class="col-xs-1 col-md-1">
	</div>

	<div class="col-xs-10 col-md-8">
	<form class="form-horizontal" role="form" method="post" action=".">
		{% csrf_token %}
		{% bootstrap_form form label_class='col-md-3' field_class='col-md-9' %}
		{% buttons %}
		<div class="col-md-9 col-xs-12 pull-right">
			<button type="submit" class="btn btn-success">
			{% trans 'Change Password' %}
			</button>
			{% endbuttons %}
		</div>
	</form>
	</div>

	<div class="col-xs-1 col-md-2">
	</div>
</div>
{% endblock %}
