{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block title %}Genome Center - {% if user.real_name %}{{ user.real_name }}{% else %}{{ user.username }}{% endif %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
       <h1>Genome Browser</h1>
       <h2>1. Publicly available genomes</h2>
       <p>
         <a href="http://genebrowser.lifemodules.org/jbrowse/?data=data/ecoli"><i>E. coli</i></a>
         (<b>Download</b>:
         <a href="/media/Demo.docx" class="btn btn-primary btn-sm">Information Docs</a>
         <a href="/media/MG1655.fa" class="btn btn-info btn-sm">Sequence File</a>
         <a href="/media/MG1655_p.gtf" class="btn btn-success btn-sm">Annotation File</a>)
       </p>

        <p>
            <a href="http://genebrowser.lifemodules.org/jbrowse/?data=data/yeast">Yeast</a>
            (<b>Download</b>:
            <a href="/media/Demo.docx" class="btn btn-primary btn-sm">Information Docs</a>
            <a href="/media/MG1655.fa" class="btn btn-info btn-sm">Sequence File</a>
            <a href="/media/MG1655_p.gtf" class="btn btn-success btn-sm">Annotation File</a>)
        </p>

        <p>
            <a href="http://genebrowser.lifemodules.org/jbrowse/?data=data/volvox">Volvox</a>
            (<b>Download</b>:
            <a href="/media/Demo.docx" class="btn btn-primary btn-sm">Information Docs</a>
            <a href="/media/MG1655.fa" class="btn btn-info btn-sm">Sequence File</a>
            <a href="/media/MG1655_p.gtf" class="btn btn-success btn-sm">Annotation File</a>)
        </p>

        <p>
            <a href="http://genebrowser.lifemodules.org/jbrowse/?data=data/modencode">Modencode</a>
            (<b>Download</b>:
            <a href="/media/Demo.docx" class="btn btn-primary btn-sm">Information Docs</a>
            <a href="/media/MG1655.fa" class="btn btn-info btn-sm">Sequence File</a>
            <a href="/media/MG1655_p.gtf" class="btn btn-success btn-sm">Annotation File</a>)
        </p>

    

        <h2>2. Your private genomes</h2>
       <p class="text-danger">Tips: You've uploaded {{ private_genome_count }} private genomes! <a href="{% url 'genome-upload' %}">upload private genome</a></p>

       <p>Demo: 
           <a href="http://genebrowser.lifemodules.org/jbrowse/?data=data/private/liaoxp/CG_an27Z21" target="_blank">CG</a>
           (<b>Download</b>:
           
           <a href="/media/private_genome/GCF_000011325.1_ASM1132v1_genomic_kSWL5gX.fna" class="btn btn-info btn-sm">Sequence File</a>
           <a href="/media/private_genome/GCF_000011325.1_ASM1132v1_genomic_UjxXFFC.gff" class="btn btn-success btn-sm">Annotation File</a>)
         </p>

       {% for pg in private_genomes %}
         <p>
           <span id="pg{{pg.id}}">
           <a href="{{ pg.get_browse_url }}" target="_blank">{{ pg.get_name }}</a>
           (
           <a href="{% url 'sequence-info-upload' %}?{{ pg.get_fill_sequence_info_queystring }}" class="btn btn-warning btn-sm" target="_blank">relevant information</a> 

           <b>Download</b>:
           {% if pg.document_file %}
           <a href="{{ pg.document_file.url }}" class="btn btn-primary btn-sm">Information Docs</a>
           {% endif %}
           <a href="{{ pg.sequence_file.url }}" class="btn btn-info btn-sm">Sequence File</a>
           <a href="{{ pg.annotation_file.url }}" class="btn btn-success btn-sm">Annotation File</a>)
           </span>
           <button class='delete_private_genome btn-danger btn-xs' del_code='1' data="{{ pg.id }}">delete</button>
         </p>
       {% endfor %}
    </div>
</div>

<script type="text/javascript">
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

$(document).ready(function(){
  $('button.delete_private_genome').click(function(){
    var $this = $(this);
    var pgid = $this.attr('data');
    var del_code = $this.attr('del_code');
    console.log(pgid);
    console.log(del_code);

    $.post('{% url "change-private-genome" %}',
          {'id': pgid, 'del_code': del_code},
          function(ret){
            console.log(ret);

            if (ret == 'deleted'){
              $('#pg'+pgid).css('text-decoration', 'line-through');
              $this.attr('del_code', '0');
              $this.html('restore');

              var r=confirm("The private genome is deleted! \nDo you want to hide them? \nTips:  if deleted by mistakes please select 'No'");
              if (r==true) {
                $('#pg'+pgid).hide();
                $this.hide();
              }
            } else {
              $this.attr('del_code', '1');
              $this.html('delete');
              $('#pg'+pgid).css('text-decoration', 'none');
            }
          }
      )
    
  })
})
</script>
{% endblock %}
