{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block title %}Sequence Infomation Upload Success - {% if user.real_name %}{{ user.real_name }}{% else %}{{ user.username }}{% endif %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
    <h1>Congratulations! Uploaded Successfully!</h1>
    <h3><a href="{% url 'sequence-info-detail' sequence_info.pk %}">The Sequence Information</a> you've uploaded is also available in <a href="{% url 'search-sequence-info' %}">Search Sequence Info</a></h3>
    </div>
</div>
{% endblock %}
