{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block title %}User Center - {% if user.real_name %}{{ user.real_name }}{% else %}{{ user.username }}{% endif %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="col-md-3 module-card">
          <div class="thumbnail">
              <img alt="Genome Center" src="/static/logo/genome.png" />
              <div class="caption">
                  <h3>Genome Center</h3>
                  <p>A public genomes, private genomes browser and management platform.</p>
                  <p><a data-placement="bottom" data-toggle="tooltip" title="Public genomes, private genomes browser" class="btn btn-primary" href="{% url 'genome-center' %}">Genome Center &gt;&gt;</a></p>
              </div>
          </div>
      </div>

      <div class="col-md-3 module-card">
          <div class="thumbnail">
              <img alt="Search Sequence Information" src="/static/logo/sequence.png" />
              <div class="caption">
                  <h3>Search Sequence Info</h3>
                  <p>Search Sequence Information: Strain, Applications and so on</p>
                  <p><a data-placement="bottom" data-toggle="tooltip" title="Search Sequence Information: Strain, Applications and so on" class="btn btn-primary" href="{% url 'search-sequence-info' %}">Search Sequence &gt;&gt;</a></p>
              </div>
          </div>
      </div>

      <div class="col-md-3 module-card">
          <div class="thumbnail">
              <img alt="Gene Search" src="/static/logo/genome.png" />
              <div class="caption">
                  <h3>Gene Search</h3>
                  <p></p>
                  <p><a data-placement="bottom" data-toggle="tooltip" title="" class="btn btn-primary" href="#">Gene Search &gt;&gt;</a></p>
              </div>
          </div>
      </div>

      <div class="col-md-3 module-card">
          <div class="thumbnail">
              <img alt="BLAST" src="/static/logo/sequence.png" />
              <div class="caption">
                  <h3>BLAST</h3>
                  <p></p>
                  <p><a data-placement="bottom" data-toggle="tooltip" title="" class="btn btn-primary" href="#">BLAST &gt;&gt;</a></p>
              </div>
          </div>
      </div>

    </div>
</div>
{% endblock %}
